<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
    @@include('./include/header.html')
    <div class="musthead">
        <div class="wrapper">
            <h1>your life , a photo</h1>
            <p>print your life in a simple photo</p>
            <a class="btn" href="">get started</a>
        </div>
    </div>
    <div class="get-started">
        <div class="wrapper">
            <h2 class="section-title">Rappresent your life with a 
                <br>
                simple photo
            </h2>
            <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                <br>
                sed do eiusmod tempor incididunt ut labore et dolore 
                <br>
                magna aliqua. Ut <span>enim ad minim</span> veniam, quis 
                <br>
                nostrud exercitation ullamco laboris nisi 
                <br>
                ut aliquip ex ea commodo consequat.
            </p>
            <a class="btn get-started-btn" href="">get started</a>
        </div>
    </div>
    <div class="design">
        <div class="wrapper">
            <div class="design-block">
                <h2 class="section-title">design</h2>
                <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    <br>
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    <br>
                    magna aliqua. Ut <span>enim ad minim</span> veniam, quis 
                    <br>
                    nostrud exercitation ullamco laboris nisi 
                    <br>
                    ut aliquip ex ea commodo consequat.
                </p>
                <a class="btn get-started-btn" href="">learn more</a>
            </div>
        </div>
    </div>
    <div class="community">
        <div class="wrapper">
            <div class="community-info">
                <img src="./images/logo-community.png" alt="">
                <p class="info-title">our community</p>
                <p class="info-text">Lorem ipsum dolor sit 
                    <br>
                    amet, consectetur 
                    <br>
                    adipiscing elit,
                </p>
            </div>
            <div class="community-imgs">
                <img class="left-img" src="./images/car.jpg" alt="">
                <img class="right-img" src="./images/leaves.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="subscribe">
        <div class="wrapper">
            <h2>subscribe to our community</h2>
            <form class="submition-form" action="">
                <input class="emaill" type="text" placeholder="your email">
                <input class="submit" type="submit" value="">
            </form>
        </div>
    </div>
    <div class="download">
        <div class="wrapper">
            <h2>download it</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                
                laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="download-btns">
                <a class="download-btn" href="">
                    apple store
                    <span class="apple"></span>
                </a>
                <a class="download-btn" href="">
                    play store
                    <span class="android"></span>
                </a>
            </div>
        </div>
    </div>

    @@include('./include/footer.html')
</body>
</html>